aside{
    background-image: linear-gradient(to top,#ced8ec,lightblue) ;
    
    
 

  
}
.img-fluid-1{
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}
.img-fluid-1:hover{
    transform: scale(1.1,1.1);
   
}