*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgb(199, 187, 187);
}
.inputP{
    margin: 0;
    padding: 5px;
    font-size: 90%;
    font-family: cursive;

    
}
input:focus{
    width: 200px;
    height: 30px;
   
}
.subContenido{
    background-color: $color4;
    h3{
        text-align: center;
    }
    li{
        text-align: center;
        list-style: none;
    }
    .caba{
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: auto;
        margin-right: auto;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        text-align: center;
        border: inset 1px;
        background-color: #ced8ec;
        width: 200px;
    }
    
}
.subContenido .caba:hover{
    background-color: rgba(0, 0, 0, 0.3);
}
.fotosGaleria {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  .fotosGaleria1 {
    -webkit-box-flex: 33%;
        -ms-flex: 33%;
            flex: 33%;
    padding: 5px;
  }
  
  .fotosGaleria2:hover {
    -webkit-transform: scale(1.5, 1.5);
            transform: scale(1.5, 1.5);
    border-radius: 20px;
  }
  
  .fotosGaleria1 img {
    margin-top: 5px;
  }

  @media (max-width: 768px) {
    .fotosGaleria1 {
      -webkit-box-flex: 100%;
          -ms-flex: 100%;
              flex: 100%;
    }
    .fotosGaleria2:hover{
        -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
    }
  }