footer{
    margin: 0px;
    padding: 0PX;
    box-sizing: border-box;
    font-family: sans-serif;
    width: 100%;
    background-color: rgb(12, 11, 11);
    
}
.container-footer-all{
    width: 100%;
    max-width: 1600px;
    margin: auto;
    padding: 40px;
}
.container-footer{
    display: flex;
    justify-content: space-between;
}
.column1{
    max-width: 400px;
    h3{
        font-size: 22px;
        color: thistle;

    }
    p{
        font-size: 12px;
        margin-top: 20px;
        padding: 0px;
        margin-left: 0px;
        color: thistle;

    }

}
.column2{
    max-width: 400px;
    h3{
        font-size: 22px;
        color: thistle;
    }
    .row2{
        margin-top: 20px;
        display: flex;
        img{
            width: 30px;
            height: 20px;
        }
        p{
            margin-top: 5px;
            margin-left: 10px;
            color: thistle;
            font-size: 12px;
            a{
                text-decoration: none;
            }
        }
    }
}
.column3{
    max-width: 400px;
    h3{
        font-size: 22px;
        color: thistle;

    }
    .row2{
        margin-top: 20px;
        display: flex;
        
        img{
            width: 30px;
            height: 20px;
        }
        p{
            margin-top: 5px;
            margin-bottom: 0px;
            font-size: 12px;
            color: thistle;
        }
    }
}
.container-footer2{
    width: 100%;
    background-color: black;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    p{
        color: thistle;
        font-size: 12px;
    }

}
@media screen and (max-width: 1100px){
    .container-footer{
        flex-wrap: wrap;
    }
    .column2,
    .column3{
        margin-top: 30px;
    }
}
    

