//colores//
$color1: rgb(196, 184, 184);
$color2: rgb(192, 51, 51);
$color3: rgb(0, 255, 213);
$color4: #ced8ec;
$color5: rgb(151, 151, 79);
$color-blanco: white;
$color-negro: rgb(0, 0, 0);

//fuentes//
$ff1: Verdana, Geneva, Tahoma, sans-serif;

//operaciones//
$ancho:400px;
$color4: #ced8ec;

//if//
$color: negro;

//redes//
$redes:(
    twitter:#55acee,
    facebook:#3a5795,
    mail:#c25e30
)
